
#map-container{
  height: 200vh !important;
  z-index: -1;
}
header{
  position: fixed;
  top: 1em;
  color: white;
  display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
header > *{
  margin-inline: 1em;
}
header img{
  width: 5em;
}
.App{
  overflow: hidden;
}

.overlay{
  position: absolute;
  font-size: 2em;
  color: white;
}
.issues{
  text-align: center;
  display: block;
    width: 80vw;
    font-size: medium;
    overflow: auto;
    padding: 10vw;
}
.issues > div{
  display: inline-flex;
}

.aws-btn {

  --button-default-height: 48px;
  --button-default-font-size: 14px;
  --button-default-border-radius: 6px;
  --button-horizontal-padding: 20px;
  --button-raise-level: 5px;
  --button-hover-pressure: 2;
  --transform-speed: .185s;
  --button-primary-color: #cc0000;
  --button-primary-color-dark: #421120;
  --button-primary-color-light: #ffffff;
  --button-primary-color-hover: #ff0000;
  --button-primary-border: none;
  --button-secondary-color: #04162a;
  --button-secondary-color-dark: #000000;
  --button-secondary-color-light: #ffffff;
  --button-secondary-color-hover: #09305d;
  --button-secondary-border: none;
  --button-anchor-color: #ffffff;
  --button-anchor-color-dark: #000000;
  --button-anchor-color-light: #7a7a7a;
  --button-anchor-color-hover: #3d3d3d;
  --button-anchor-border: 1px solid #000000;
  }